.header_content{
    width: 150px;
    height: 50%;
    margin: auto;
    background-color: #DDDDDD;
    position: fixed;
    z-index: 99;
    opacity:0.9;
}
.header_content .navbar{
    width: 1500px;
    display: flex;
    margin: auto;
    align-items: center;
    line-height: 20px;
    padding: 20px 0;
}
.navbar .nav_item{
    margin-left: auto;
}

.navbar .nav_item{
    display: flex;
}

.navbar .nav_item a{
    color: #464646;
    font-size: 20px;
    margin: 0 20px;
    display: block;
    
    border-radius: 30px;
    
}
.navbar .nav_item li:hover a{
    background-color: #F5FFE8;
    color: #ffffff;
    
}